{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <section>
        <header>
            <h2>
                <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2>
        </header>

        <footer>
            <abbr title="{{ article.date.isoformat() }}">
                {{ article.locale_date }}
            </abbr>

            {% if article.author %}
            <address>
                By <a href="/{{ article.author.url }}">{{ article.author }}</a>
            </address>
            {% endif %}
        </footer>

        <div>
            {{ article.content }}
        </div>
    </section>
{% endblock %}
