{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <section>
        <div class="featured-image">
            <img src="{{ article.image }}"{% if article.image_caption %} alt="{{ article.image_caption }}"{% endif %}>
        </div>

        <div class="article-content">
            <header>
                <h2>{{ article.title }}</h2>
            </header>

            <!--footer>
                <abbr title="{{ article.date.isoformat() }}">
                    {{ article.locale_date }}
                </abbr>

                {% if article.author %}
                <address>
                    By <a href="/{{ article.author.url }}" data-ajax-load="true">{{ article.author }}</a>
                </address>
                {% endif %}
            </footer-->

            <div>
                {{ article.content }}
            </div>
        </div>
    </section>
{% endblock %}
