<!doctype html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Home{% endblock title %} - {{ SITENAME }}</title>

    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <!-- width=device-width causes the iPhone 5 to letterbox the app, so
        we want to exclude it for iPhone 5 to allow full screen apps -->
    <meta name="viewport" content="initial-scale=1.0" media="(device-height: 568px)" />

    {% assets filters="yui_css", output="css/main.%(version)s.css", "css/main.css" %}
        <link rel="stylesheet" href="/{{ ASSET_URL }}">
    {% endassets %}

    <meta name="apple-mobile-web-app-title" content="{{ SITENAME }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="ios-splash-1096.png" rel="apple-touch-startup-image" media="(device-height: 568px)">
    <link href="ios-splash-960.png" rel="apple-touch-startup-image" sizes="640x960" media="(device-height: 480px)">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {% endblock head %}
</head>

<body>
    <div class="site-wrapper">
        <nav class="site-nav">
            <a href="/" class="site-logo" tabindex="-1" data-ajax-load="true">{{ SITENAME }}</a>

            <form class="site-search">
                <input type="text" class="search-field" placeholder="Search">
            </form>

            <ul>
                <li><a href="/">This could be a link</a></li>
                <li><a href="/">This could be a link</a></li>
                <li><a href="/">This could be a link</a></li>
                <li><a href="/">This could be a link</a></li>
                <li><a href="/">This could be a link</a></li>
            </ul>
        </nav>

        <div class="site-main">{% block content %}{% endblock %}</div>

<!--         <aside class="site-aside">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis turpis ipsum, vel rutrum tellus. Nullam metus ipsum, porta vel lacinia vel, ornare et lorem. Nunc in turpis dolor. Nunc arcu est, ullamcorper ut venenatis a, mollis ac diam. Vestibulum posuere neque vitae eros lobortis quis ullamcorper quam commodo. Nullam cursus tortor quis risus sagittis gravida. Aenean elementum semper nisl, ac consequat nunc volutpat fringilla. Nam ac odio ullamcorper dolor porta semper ut eu est.</p>

            <p>Fusce eleifend orci eu nulla sagittis vestibulum. Maecenas id orci ut arcu pulvinar congue. Curabitur accumsan, dui vitae faucibus euismod, metus sem molestie mi, a mollis arcu diam vel turpis. Pellentesque ullamcorper lacus sed dolor imperdiet ullamcorper. Nunc lacinia suscipit massa non congue. Vivamus dignissim tincidunt aliquam. Integer dictum elementum leo, non bibendum mauris molestie ac. Aenean gravida mollis quam in adipiscing. Pellentesque auctor, elit nec interdum aliquet, quam mauris eleifend massa, ullamcorper laoreet enim risus eget purus. Sed tortor elit, aliquet sit amet consectetur eget, dapibus sed erat.</p>
        </aside>
 -->
        <footer></footer>
    </div>

    {% assets filters="yui_js", output="js/main.%(version)s.js", "js/libs/jquery.js", "js/libs/jquery.history.js", "js/main.js" %}
        <script src="/{{ ASSET_URL }}"></script>
    {% endassets %}

    {% if GOOGLE_ANALYTICS %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS }}']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</body>
</html>
