{% if DEFAULT_PAGINATION %}
<nav>
    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
            <a href="/{{ page_name }}.html" data-ajax-load="true">&laquo;</a>
        {% else %}
            <a href="/{{ page_name }}{{ articles_page.previous_page_number() }}.html" data-ajax-load="true">&laquo;</a>
        {% endif %}
    {% endif %}

    Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}

    {% if articles_page.has_next() %}
        <a href="/{{ page_name }}{{ articles_page.next_page_number() }}.html" data-ajax-load="true">&raquo;</a>
    {% endif %}
</nav>
{% endif %}
