$logo-ratio: 1.61803398875
$logo-width: 156px
$logo-height: 96px
.site-logo
    display: block
    @extend %image-replace
    background: inline-image('musicdune-logo-box.svg') no-repeat
    @include background-size(100%)
    width: $logo-width
    height: $logo-height
